.P {
  padding: 150px;
  font-size: 16px;
  min-width: 100px;
  width: 300px;
  box-shadow: rgba(242, 242, 245, 0.918) 0px 7px 29px 0px;
}
.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 300;
  height: 200;
  background-image: url('bg.gif');
  background-size: cover;
}
.icon {
  width: 800px; /* Initial width of the icon */
  height: 1000px; /* Initial height of the icon */
}


